- if book.toc
  %h1#toc
    Table of Contents
  - book.chapters.each do |c|
    %div.toc
      %ul
        = format_outline(c.outline)

- book.chapters.each do |c|
  !=c.html

%h1#acknowledgements
  Acknowledgements
%div.acknowledgements
  = format_acknowledgements
